*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body{
    background-image: url(images/yellow_green.jpg);  background-repeat: no-repeat;background-attachment: fixed; background-size: 100% 100%;
}

div.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 241, 44, 0);
    padding: 30px;
}

div.container div.myform{
    width: 270px;
    margin-right: 20px;
}

div.container div.myform h2{
    color: rgb(27, 26, 26);
    margin-bottom: 20px;
}

div.container div.myform input{
    border: none;
    outline: none;
    border-radius: 0;
    width: 100%;
    border-bottom: 2px solid #1c1c1c;
    margin-bottom: 25px;
    padding: 7px 0;
    font-size: 14px;
}

div.container div.myform button{
    color: white;
    background-color: #1c1c1c;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 5px 12px;
    font-weight: 500;
}